#username{
    margin-top: 10px;
    margin-right: 30px;
}

@media (max-width: 576px) {

    .info{
        width: 100%;
    }
    .brand{
        justify-content: space-between;
        width: 100%;
    }

    .info-form{
        width: 100%;
        justify-content: space-between;
    }
  }